In [1]:
#pip install mysql-connector-python
import mysql.connector
import pandas as pd # pd:alias

In [2]:
# Conexión con base de datos MySQL
try: 
    con=mysql.connector.connect(
    host='localhost',
    port =3306,
    user ='root',
    password='3001a',
    db='Proyecto'
    )
    print("Conexión exitosa ")
except Exception as e:
    # Atrapar error
    print("Ocurrió un error al conectar a SQL Server: ", e)

Conexión exitosa

In [3]:
# Lectura del archivo .csv
df_eu = pd.read_csv('estados unidos.csv', delimiter=";")
# Verificación de contenido
df_eu

,Unnamed: 0,1990,Unnamed: 2,2000,Unnamed: 4,2010,Unnamed: 6,2018,Unnamed: 8,2019,Unnamed: 10,2020,2021,2022
0,All levels,60.683,NaN,68.685,NaN,75.886,NaN,76.062,\3\,75.987,NaN,76.112,76.122,76.247
1,Elementary and secondary\n schools\1\,46.864,NaN,53.373,NaN,54.867,NaN,56.411,\3\,56.350,NaN,56.368,56.343,56.434
2,Public,41.217,NaN,47.204,NaN,49.484,NaN,50.694,NaN,50.634,NaN,50.654,50.643,50.721
3,Private\2\,5.648,\3\,6.169,\3\,5.382,\3\,5.717,\3\,5.716,NaN,5.714,5.700,5.713
4,Prekindergarten to grade 8,34.388,NaN,38.592,NaN,38.708,NaN,39.710,NaN,39.605,NaN,39.476,39.256,39.190
5,Public\4\,29.876,NaN,33.686,NaN,34.625,NaN,35.498,NaN,35.402,NaN,35.293,35.094,35.019
6,Private\2\,4.512,\3\,4.906,\3\,4.084,\3\,4.213,\3\,4.203,NaN,4.183,4.161,4.171
7,Grades 9 to 12,12.476,NaN,14.781,NaN,16.159,NaN,16.700,NaN,16.745,NaN,16.892,17.088,17.245
8,Public\4.5\,11.341,NaN,13.517,NaN,14.860,NaN,15.196,NaN,15.232,NaN,15.361,15.549,15.703
9,Private,1.136,\3\,1.264,\3\,1.299,\3\,1.504,\3\,1.512,NaN,1.531,1.539,1.542
10,Degree-granting \n postsecondary \n ...,13.819,NaN,15.312,NaN,21.019,NaN,19.651,NaN,19.637,\6\,19.744,19.778,19.813
11,Undergraduate,11.959,NaN,13.155,NaN,18.082,NaN,16.616,NaN,16.565,\6\,16.692,16.721,16.750
12,Full-time,6.976,NaN,7.923,NaN,11.457,NaN,10.266,NaN,10.220,\6\,10.293,10.292,10.297
13,Part-time,4.983,NaN,5.232,NaN,6.625,NaN,6.350,NaN,6.345,\6\,6.399,6.428,6.452
14,Male,5.380,NaN,5.778,NaN,7.836,NaN,7.228,NaN,7.149,\6\,7.254,7.263,7.273
15,Female,6.579,NaN,7.377,NaN,10.246,NaN,9.388,NaN,9.417,\6\,9.438,9.457,9.477
16,2-year,5.240,NaN,5.948,NaN,7.684,NaN,5.753,NaN,5.599,\6\,5.783,5.799,5.814
17,4-year,6.719,NaN,7.207,NaN,10.399,NaN,10.863,NaN,10.966,\6\,10.910,10.921,10.936
18,Public,9.710,NaN,10.539,NaN,13.703,NaN,13.060,NaN,13.002,\6\,13.118,13.142,13.167
19,Private,2.250,NaN,2.616,NaN,4.379,NaN,3.557,NaN,3.564,\6\,3.575,3.578,3.582
20,Postbaccalaureate,1.860,NaN,2.157,NaN,2.937,NaN,3.035,NaN,3.072,\6\,3.052,3.058,3.064
21,Full-time,845.000,NaN,1.087,NaN,1.630,NaN,1.723,NaN,1.747,\6\,1.729,1.729,1.730
22,Part-time,1.015,NaN,1.070,NaN,1.307,NaN,1.312,NaN,1.326,\6\,1.323,1.329,1.334
23,Male,904.000,NaN,944.000,NaN,1.209,NaN,1.216,NaN,1.214,\6\,1.222,1.223,1.225
24,Female,955.000,NaN,1.213,NaN,1.728,NaN,1.819,NaN,1.858,\6\,1.830,1.834,1.838

In [4]:
# Eliminación de columnas innnecesarias
df_eu = df_eu.drop('Unnamed: 0', axis=1)
df_eu = df_eu.drop('Unnamed: 2', axis=1)
df_eu = df_eu.drop('Unnamed: 4', axis=1)
df_eu = df_eu.drop('Unnamed: 6', axis=1)
df_eu = df_eu.drop('Unnamed: 8', axis=1)
df_eu = df_eu.drop('Unnamed: 10', axis=1)

In [5]:
# Verificación de contenido
df_eu

,1990,2000,2010,2018,2019,2020,2021,2022,Causas
0,60.683,68.685,75.886,76.062,75.987,76.112,76.122,76.247,Factores Familiares
1,46.864,53.373,54.867,56.411,56.350,56.368,56.343,56.434,Factores Socioeconónicos
2,41.217,47.204,49.484,50.694,50.634,50.654,50.643,50.721,Factores Familiares
3,5.648,6.169,5.382,5.717,5.716,5.714,5.700,5.713,Factores Institucionales
4,34.388,38.592,38.708,39.710,39.605,39.476,39.256,39.190,Factores Institucionales
5,29.876,33.686,34.625,35.498,35.402,35.293,35.094,35.019,Factores Familiares
6,4.512,4.906,4.084,4.213,4.203,4.183,4.161,4.171,Factores Familiares
7,12.476,14.781,16.159,16.700,16.745,16.892,17.088,17.245,Factores Familiares
8,11.341,13.517,14.860,15.196,15.232,15.361,15.549,15.703,Factores Institucionales
9,1.136,1.264,1.299,1.504,1.512,1.531,1.539,1.542,Factores Sociales
10,13.819,15.312,21.019,19.651,19.637,19.744,19.778,19.813,Factores Familiares
11,11.959,13.155,18.082,16.616,16.565,16.692,16.721,16.750,Factores Familiares
12,6.976,7.923,11.457,10.266,10.220,10.293,10.292,10.297,Factores Familiares
13,4.983,5.232,6.625,6.350,6.345,6.399,6.428,6.452,Factores Institucionales
14,5.380,5.778,7.836,7.228,7.149,7.254,7.263,7.273,Factores Institucionales
15,6.579,7.377,10.246,9.388,9.417,9.438,9.457,9.477,Factores Institucionales
16,5.240,5.948,7.684,5.753,5.599,5.783,5.799,5.814,Factores Psicológicos
17,6.719,7.207,10.399,10.863,10.966,10.910,10.921,10.936,Factores Psicológicos
18,9.710,10.539,13.703,13.060,13.002,13.118,13.142,13.167,Factores Psicológicos
19,2.250,2.616,4.379,3.557,3.564,3.575,3.578,3.582,Factores Psicológicos
20,1.860,2.157,2.937,3.035,3.072,3.052,3.058,3.064,Factores Institucionales
21,845.000,1.087,1.630,1.723,1.747,1.729,1.729,1.730,Factores Institucionales
22,1.015,1.070,1.307,1.312,1.326,1.323,1.329,1.334,Factores Familiares
23,904.000,944.000,1.209,1.216,1.214,1.222,1.223,1.225,Factores Psicológicos
24,955.000,1.213,1.728,1.819,1.858,1.830,1.834,1.838,Factores Sociales

In [6]:
# Verificación de valores nulos
df_eu.isnull().sum()

1990      0
2000      0
2010      0
2018      0
2019      0
2020      0
2021      0
2022      0
Causas    0
dtype: int64

In [7]:
# Insertar datos a una base de datos de MySQL 
try:
    # Obtener un cursor para interactuar con la base de datos
    cursor = con.cursor()

    # Iterar sobre el DataFrame e insertar los datos en la tabla
    for index, row in df_eu.iterrows():
        cursor.execute("INSERT INTO Datos_EU VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)",(row['1990'],row['2000'],row['2010'],row['2018'] ,row['2019'], row['2020'], row['2021'], row['2022'], row['Causas']))

    # Confirmar los cambios
    con.commit()
    cursor.close()
    print("Datos insertados correctamente")
except Exception as e:
    # Atrapar error
    print("Ocurrió un error al insertar los datos: ", e)

Datos insertados correctamente

In [9]:
con.close()